@font-face {
  font-family: "Norse-Bold";
  src: url("./Norse-Bold.otf");
}
#content {
  border: 2px ridge brown;
  display: flex;
  background-color: lightcoral;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
#content div {
  width: 40em;
  height: 100em;
  background-color: lightblue;
}
