@font-face {
  font-family: "Norse-Bold";
  src: url("./Norse-Bold.otf");
}
#content {
  border: 2px ridge brown;
  display: flex;
  background-color: lightcoral;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.menu {
  width: 40em;
  height: 60em;
  background-color: lightblue;
}
header {
  width: 40em;
  height: 5em;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 200px;
  height: 60px;
  background-color: brown;
  font-family: "Norse-Bold";
  color: aliceblue;
  font-size: xx-large;
  border: none;
}
button:hover {
  width: 200px;
  height: 60px;
  background-color: brown;
  font-family: "Norse-Bold";
  color: rgb(221, 148, 37);
  font-size: xx-large;
  border: none;
}

.title {
  background-color: lightblue;
  width: 5em;
  height: 100px;
  color: black;
  font-family: "Norse-Bold";
  max-width: 40em;
  font-size: 70px;

  text-align: center;
  margin-left: 145px;
  margin-top: 40px;
}
.sum {
  width: 35em;
  height: 5em;
  background-color: beige;
  border-radius: 8px;
  color: black;
  font-family: "Norse-Bold";
  font-size: x-large;
  max-width: 40rem;
  min-width: 35rem;
  text-align: center;
}
.hours {
  width: 40em;
  height: 5em;
  background-color: beige;
  border-radius: 8px;
  color: black;
  font-family: "Norse-Bold";
  max-width: 40rem;
  min-width: 40rem;
  font-size: x-large;
}
.location {
  width: 40em;
  height: 5em;
  background-color: beige;
  border-radius: 8px;
  color: black;
  font-family: "Norse-Bold";
  max-width: 40rem;
  font-size: x-large;
  min-width: 40rem;
}
